:host {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ion-content {
  --background: transparent;
}

ion-title {
  text-align: center;
}

.login-wrapper {
  display: flex;
  justify-content: center;
}

.form-content {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 24px;
}

ion-item {
  --background: #26d7ff !important;
  --color: #2e2e2e !important;
  border-radius: 8px;
  padding: 4px 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

.button-container {
  text-align: center;
}

ion-button {
  width: 100%;
}

.btn-login {
  --background: #ff43d9;
  --color: #fffaf0;
  font-weight: bold;
  border-radius: 6px;
}
