// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /* Colores base para fondo claro */
  --ion-background-color: #47e5f6;
  --ion-text-color: #2e2e2e;
  --ion-item-background: #43ff7f;
  --ion-color-primary: #8eca25;
  --ion-color-primary-contrast: #fffaf0;
  --ion-toolbar-background: #f6b347;
  --ion-tab-bar-background: #5347f6;

  --ion-color-secondary: #1c1102; /* naranja dorado */
  --ion-color-tertiary: #895268;  /* rojo oscuro */
}
